body {
    background-image: url("Images/Background2.jpg");
    background-repeat: repeat;
    background-size: 300px 500px;
    background-position: top left;
    min-height: 100vh;
}

h1 {
    color: rgb(95, 95, 95);
    text-align: left;
    font-family: 'Trebuchet MS';
    font-size: 20px;
}

h2 {
    color: rgb(230, 230, 230);
    text-align: left;
    font-family: 'Trebuchet MS';
    font-size: 20px;
}

p {
    font-family: 'Trebuchet MS';
    font-size: 20px;
}

/*testing*/